.markdown-input {
  max-width: 400px;
  height: 400px;
  padding: 0.4rem;
  font-size: 1.2rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border: solid #dddddd 1px;
  resize: vertical;
}