.sketch-picker {
  background: transparent!important;
  border-radius: 14px !important;
  box-shadow: none !important;
  border: 1px solid rgba(255, 255, 255, 0.08) !important;
  width: 100% !important;
  box-sizing: border-box !important;
}

.sketch-picker label {
  color: rgba(255, 255, 255, 0.4) !important;
  font-size: 0.65rem !important;
}

.sketch-picker input {
  background: rgba(255, 255, 255, 0.07) !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 6px !important;
  color: #fff !important;
  font-size: 0.65rem !important;
}
